<?php TPL::output('global/header.tpl.htm'); ?>
<div class="aw-container-wrap">
    <div class="container clearfix">
        <div class="row">
            <div class="aw-content-wrap clearfix">
                <div class="success-img"><div></div></div>
                <p class="success-msg text-center">问卷到此结束，感谢您的参与！</p>
                <div class="success-mapbox text-center">
                    <div class="success-mapimg"></div>
                    <div class="success-mapmsg"><a href="<?php echo base_url();?>">CE社区</a>为您提供专业问卷</div>
                    <a href="q/add/" class="btn btn-primary success-addbtn">我也要创建问卷</a>
                </div>
            </div>
        </div>
    </div>
</div>
<?php TPL::output('global/footer.tpl.htm'); ?>