<?php TPL::output('global/header_meta.tpl.htm'); ?>

<div id="wrapper">
	<div class="aw-login-box">
		<div class="mod-body clearfix">
			<div class="content pull-left">
				<h1 class="logo"><a href=""></a></h1>
                <h2><?php echo get_setting('site_name'); ?></h2>
				<form id="login_form" method="post" onsubmit="return false" action="account/ajax/login_process/">
					<input type="hidden" name="return_url" value="<?php echo $this->return_url; ?>" />
					<ul>
						<li  class="parentCls">
							<input  type="text" id="aw-login-user-name" class="form-control inputElem" placeholder="<?php _e('工作邮箱'); ?>" name="user_name" />
                            <p style="font-size: 12px; margin: 0;padding-left: 5px;">只支持 *@tcl.com和 *@kuyumall.com的邮箱</p>
                        </li>
						<li>
							<input autocomplete="off"  type="password" id="aw-login-user-password" class="form-control" placeholder="<?php _e('密码'); ?>" name="password" />
						</li>
						<li class="alert alert-danger collapse error_message">
							<i class="icon icon-delete"></i> <em></em>
						</li>
						<li class="last">
							<a href="javascript:;" onclick="AWS.ajax_post($('#login_form'), AWS.ajax_processer, 'error_message');" id="login_submit" class="pull-right btn btn-large btn-primary"><?php _e('登录'); ?></a>
							<label>
								<input type="checkbox" value="1" name="net_auto_login" />
								<?php _e('记住我'); ?>
							</label>
							<a href="<?php echo get_js_url('/account/find_password/1', 1); ?>">&nbsp;&nbsp;<?php _e('忘记密码'); ?></a>
						</li>
                        <li id="verify_email" style="display: none">
                            <a href="<?php echo get_js_url('/account/find_password/2', 1); ?>" class="pull-right btn btn-large btn-success">验证邮箱</a>
                        </li>
                        <li id="reset_pwd" style="display: none">
                            <a href="<?php echo get_js_url('/account/find_password/3', 1); ?>" class="pull-right btn btn-large btn-success">初始化密码</a>
                        </li>
					</ul>
				</form>
			</div>
			<div class="side-bar pull-left">
				<?php if (get_setting('site_close') != 'Y' && (AWS_APP::config()->get('system')->tcllogin['Open'] == 1 ||  get_setting('sina_weibo_enabled') == 'Y' || get_setting('qq_login_enabled') == 'Y' || get_setting('google_login_enabled') == 'Y' || get_setting('facebook_login_enabled') == 'Y' || get_setting('twitter_login_enabled') == 'Y' || get_setting('weixin_app_id') && get_setting('weixin_app_secret') && get_setting('weixin_account_role') == 'service')) { ?>

					<?php if ($this->return_url) $return_url = 'return_url-' . base64_encode($this->return_url); ?>

					<h3><?php _e('联合登录'); ?></h3>
                    <?php if(AWS_APP::config()->get('system')->tcllogin['Open'] == 1 ){ ?>
                        <a href="<?php echo get_js_url('/account/newlogin/', 1).$return_url; ?>" class="btn btn-block btn-danger"><i class="icon"></i> TCL统一登录</a>
                    <?php } ?>

					<?php if (get_setting('sina_weibo_enabled') == 'Y') { ?>
						<a href="account/openid/weibo/bind/<?php echo $return_url; ?>" class="btn btn-block btn-weibo"><i class="icon icon-weibo"></i> 微博登录</a>
					<?php } ?>

					<?php if (get_setting('qq_login_enabled') == 'Y') { ?>
						<a href="account/openid/qq/bind/<?php echo $return_url; ?>" class="btn btn-block btn-qq"><i class="icon icon-qq"></i> QQ 登录</a>
					<?php } ?>

					<?php if (get_setting('weixin_app_id') && get_setting('weixin_app_secret') && get_setting('weixin_account_role') == 'service') { ?>
						<a href="account/weixin_login/<?php echo $return_url; ?>" class="btn btn-block btn-wechat">
							<i class="icon icon-wechat"></i> 微信扫一扫登录
							<div class="img">
								<img src="<?php echo get_js_url('/weixin/login_qr_code/'); ?>" />
							</div>
						</a>
					<?php } ?>

					<?php if (get_setting('google_login_enabled') == 'Y') { ?>
						<a href="account/openid/google/bind/<?php echo $return_url; ?>" class="btn btn-block btn-google"> <i class="icon icon-google"></i> Google 登录</a>
					<?php } ?>

					<?php if (get_setting('facebook_login_enabled') == 'Y') { ?>
						<a href="account/openid/facebook/bind/<?php echo $return_url; ?>" class="btn btn-block btn-facebook"> <i class="icon icon-facebook"></i> Facebook 登录</a>
					<?php } ?>

					<?php if (get_setting('twitter_login_enabled') == 'Y') { ?>
						<a href="account/openid/twitter/bind/<?php echo $return_url; ?>" class="btn btn-block btn-twitter"> <i class="icon icon-twitter"></i> Twitter 登录</a>
					<?php } ?>
				<?php } ?>
			</div>
		</div>
		<div class="mod-footer" style="display: none"></div>
	</div>
</div>

<script type="text/javascript" src="<?php echo G_STATIC_URL; ?>/js/app/login.js"></script>

<?php TPL::output('global/footer.tpl.htm'); ?>